{% extends 'antonymapp/base.html' %}

{% block content %}

{% if form.errors %}
	<h1>Var god försök igen.</h1>
{% else %}
	<h1>Välkommen att logga in.</h1>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}?next={{ request.GET.next }}">
{% csrf_token %}
<table>
	<tr>
		<td>{{ form.username.label_tag }}</td>
		<td>{{ form.username }}</td>
	</tr>
	<tr>
		<td>{{ form.password.label_tag }}</td>
		<td>{{ form.password }}</td>
	</tr>
</table>
<input type="submit" value="Login" />
</form>
{% endblock %}